---
---

@import "{{ site.theme }}";

// Kolory ta i jasne paski w nag贸wku
.page-header {
  background-color: #a85903;
  background-image: linear-gradient(120deg, #a85903, #bf6604);
  position: relative;
}

#header_wrap {
  background: #a85903;
  position: relative;
  overflow: visible;
  
  &:before {
    content: "";
    position: absolute;
    left: 40vw;  // Zamiast px, u偶ywamy szerokoci ekranu
    top: 10vh;   // Wysoko ekranu
    width: 50px;
    height: 20px;
    background-color: #d17a1b;
    z-index: 0.2;
  }

  &:after {
    content: "";
    position: absolute;
    left: 50vw;   // Dostosowanie do szerokoci ekranu
    top: 15vh;    // Dostosowanie do wysokoci ekranu
    width: 50px;
    height: 20px;
    background-color: #d17a1b;
    z-index: 0.2;
  }
  
}
Co si zmienia?
vw i vh sprawi, 偶e belki bd zawsze w tych samych miejscach, niezale偶nie od szerokoci ekranu.
Mo偶esz dopracowa wartoci left i top wedug wasnych preferencji, tak by dobrze wyglday na desktopie i telefonie.
Jeli nadal bd przemieszcza si w spos贸b niepo偶dany, mog pom贸c dostosowa kod bardziej precyzyjnie. Daj zna! 
  
  .inner {
    background: transparent;
    position: relative;
  }
}

#footer_wrap {
  background: #a85903;
}

// Usunicie powiaty z nag贸wk贸w
.project-name,
.project-tagline,
h1,
h2,
h3,
h4,
h5,
h6 {
  text-shadow: none !important;
}

// Kolor tekstu na biaym tle
#main_content {
  color: #737373;
  
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: #737373 !important;
  }
}

p {
  color: #737373;
}

// Style dla ciemnego ta
#main_content_wrap {
  border-top: 1px solid #725003;
  border-bottom: 1px solid #725003;
}

body {
  background: #a85903;
}

#forkme_banner {
  background: #bf6604;
}

html, body {
  background-color: #a85903 !important;
}
