---
---

@import "{{ site.theme }}";

// Kolory tła i jasny pasek w nagłówku
.page-header {
  background-color: #a85903;
  background-image: linear-gradient(120deg, #a85903, #bf6604);
  position: relative;
}

#header_wrap {
  background: #a85903;
  position: relative;
  overflow: visible;
  
  &:before {
    content: "";
    position: absolute;
    left: 600px;        // możesz zmieniać tę wartość, aby przesuwać w lewo/prawo
    top: 80px;         // możesz zmieniać tę wartość, aby przesuwać góra/dół
    width: 200px;        // szerokość belki
    height: 40px;       // wysokość belki
    background-color: #d17a1b;
    z-index: 0.2;
  }


    &:after {
    content: "";
    position: absolute;
    left: 200px;    // inna pozycja niż first before
    top: 150px;     // inna pozycja niż first before
    width: 50px;
    height: 20px;
    background-color: #d17a1b;
    z-index: 0.2;
  }
  
  .inner {
    background: transparent;
    position: relative;
  }
}

#footer_wrap {
  background: #a85903;
}

// Usunięcie poświaty z nagłówków
.project-name,
.project-tagline,
h1,
h2,
h3,
h4,
h5,
h6 {
  text-shadow: none !important;
}

// Kolor tekstu na białym tle
#main_content {
  color: #737373;
  
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: #737373 !important;
  }
}

p {
  color: #737373;
}

// Style dla ciemnego tła
#main_content_wrap {
  border-top: 1px solid #725003;
  border-bottom: 1px solid #725003;
}

body {
  background: #a85903;
}

#forkme_banner {
  background: #bf6604;
}

html, body {
  background-color: #a85903 !important;
}
